In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import os, os.path, pickle, sys

from scipy import stats

import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.colors as colors
from matplotlib.colors import ListedColormap, Normalize
from matplotlib import cm

from datetime import datetime

In [2]:
sys.path.append("/Users/hn/Documents/00_GitHub/Ag_Others/Ehsan/Wheat/")
import wheat_core as wc

In [3]:
data_dir_base = "/Users/hn/Documents/01_research_data/Ehsan/wheat/"
wheat_reOrganized = data_dir_base + "wheat_reOrganized/"

In [4]:
data_ = pd.read_pickle(wheat_reOrganized + "average_and_seperate_varieties.sav")
data_.keys()

dict_keys(['averaged_varieties', 'separate_varieties', 'source_code', 'Author', 'Date'])

In [5]:
averaged_varieties = data_["averaged_varieties"]
separate_varieties = data_["separate_varieties"]

separate_varieties.head(2)

,location,year,1_Tavg,2_Tavg,3_Tavg,4_Tavg,5_Tavg,6_Tavg,7_Tavg,8_Tavg,...,18_vs,19_vs,20_vs,21_vs,22_vs,23_vs,24_vs,25_vs,grain_yield,variety
0,Almira,2005,7.725714,14.655,11.125714,14.511429,14.647143,12.345,18.738571,14.102143,...,2.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.9,Alpowa
1,Almira,2005,7.725714,14.655,11.125714,14.511429,14.647143,12.345,18.738571,14.102143,...,2.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.7,Alturas

In [7]:
len(separate_varieties.columns)

329

In [8]:
averaged_varieties.head(2)

,location,year,1_Tavg,2_Tavg,3_Tavg,4_Tavg,5_Tavg,6_Tavg,7_Tavg,8_Tavg,...,19_vs,20_vs,21_vs,22_vs,23_vs,24_vs,25_vs,Year,Location,Grain_yield
0,Almira,2005,7.725714,14.655000,11.125714,14.511429,14.647143,12.345000,18.738571,14.102143,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005,Almira,42.088889
1,Almira,2006,8.555714,12.201429,9.725000,12.675714,21.397857,12.253571,16.030714,16.796429,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006,Almira,71.019048